.viewer {
  user-select: none;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 100%;
  text-align: center;
}

.card-word {
  padding: 20px;
  font-size: 25px;
  color: white;
  
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-around;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-word__english {
  background-color:#466f70;
}

.card-word__russian {
  background-color:#7d4373;
}

.card-word__usage {
  font-size: 13px;
  height: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #a03232;
}

.highlighted {
  font-weight: 800;
  text-decoration-line: initial
}

